body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.5em;
  margin: 0px 30px 15px 30px;
}

.navbar > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar > .container .nav-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar > .container .nav-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar > .container .nav-items ul li {
  margin-right: 50px;
}

@media only screen and (max-width: 420px) {
  .navbar {
    margin: 0px;
  }
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container-vaga {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sobre-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1300px;
  background-color: #F3F7F8;
}

.sobre-evento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sobre-evento .subtitulo {
  padding: 0px 80px;
}

.sobre-evento .texto {
  padding: 0px 80px;
  margin-bottom: 100px;
}

.sobre-evento .ingresso {
  height: 69px;
  width: 254px;
  border-radius: 15px;
  background-color: #0FDC2A;
  border-style: none;
}

.sobre-imagem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sobre-imagem img {
  width: 90%;
}

@media only screen and (max-width: 800px) {
  .sobre-section {
    display: block;
    height: 1000px;
  }
  .sobre-evento {
    width: 100%;
  }
  .sobre-imagem {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .sobre-section {
    display: block;
    font-size: .8em;
    height: 1200px;
  }
  .sobre-evento {
    width: 100%;
  }
  .sobre-imagem {
    width: 100%;
  }
  .sobre-imagem img {
    width: 50%;
    margin-top: 60px;
  }
}

.hero-nav {
  background-image: url("../../assets/imagens/banner_site_nine.png");
  background-size: cover;
  resize: both;
  height: 100vh;
}

.hero-nav > .container {
  height: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.hero-nav .dashes {
  position: relative;
}

.hero-nav .logo {
  font-size: 1.8em;
}

.hero-nav span {
  position: absolute;
  top: 0px;
  left: 110px;
}

@media only screen and (max-width: 800px) {
  .nav-items {
    font-size: .7em;
  }
}

@media only screen and (max-width: 420px) {
  .navbar .container {
    padding-left: 30px;
  }
  .navbar .container .nav-items .nav-list {
    display: block;
  }
}

.hero-texto {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  padding-bottom: 100px;
}

.hero-texto img {
  padding-bottom: 50px;
}

.hero-texto .subtitulo {
  margin-bottom: 100px;
}

.hero-texto h1 {
  font-size: 2em;
}

.hero-texto .garanta-vaga {
  height: 69px;
  width: 254px;
  border-radius: 15px;
  background-color: #0FDC2A;
  border-style: none;
}

@media only screen and (max-width: 800px) {
  .hero-texto img {
    width: 50%;
  }
  .hero-texto .subtitulo {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 420px) {
  .hero-texto img {
    width: 50%;
  }
  .hero-texto .subtitulo {
    padding: 0px 30px;
    font-size: 1em;
  }
}

.container-atracoes {
  height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

.atracoes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 420px) {
  .container-atracoes {
    display: block;
    height: 1200px;
  }
  .atracoes {
    font-size: .8em;
  }
  .atracoes .como {
    display: none;
  }
}

.atracoes-imgs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 760px;
}

.atracoes-imgs .atracao-grid {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.atracoes-imgs .atracao-grid .atracao {
  height: 250px;
  width: 250px;
  border: 1px solid black;
  margin-bottom: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.atracoes-imgs .atracao-grid .atracao a {
  width: 100%;
  height: 100%;
}

.atracoes-imgs .atracao-grid .atracao a img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .atracao-grid {
    padding: 0px 30px;
  }
}

@media only screen and (max-width: 420px) {
  .atracoes-imgs {
    display: block;
    height: 900px;
  }
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1d1d;
  color: white;
  height: 444px;
}

.infos .local {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 420px) {
  .infos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infos .data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .infos .hora {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .infos .local {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.contato .contato-1 {
  background-color: #f4f4f4;
  width: 50%;
  height: 843px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contato .contato-2 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 80px;
}

.contato .contato-2 input {
  border-radius: 15px 0px 0px 15px;
  border-style: 1px solid black;
}

.contato .contato-2 .enviar {
  height: 64px;
  width: 173px;
  border-radius: 0px 15px 15px 0px;
  background-color: #1005FF;
  border-style: none;
  color: white;
}

.contato div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media only screen and (max-width: 800px) {
  .contato {
    display: block;
  }
  .contato .contato-1 {
    width: 100%;
  }
  .contato .contato-2 {
    height: 100%;
    width: 100%;
    padding: 10px;
  }
  .contato .enviar {
    height: 64px;
    width: 85px;
    border-radius: 0px 15px 15px 0px;
    background-color: #1005FF;
    border-style: none;
    color: white;
  }
}

@media only screen and (max-width: 420px) {
  .contato {
    display: block;
  }
  .contato .contato-2 {
    height: 100%;
    width: 100%;
    padding: 10px;
  }
  .contato .enviar {
    height: 64px;
    width: 85px;
    border-radius: 0px 15px 15px 0px;
    background-color: #1005FF;
    border-style: none;
    color: white;
  }
}

.patrocinios {
  height: 364px;
  background-color: #F3F7F8;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.patrocinios img {
  height: 120px;
}

@media only screen and (max-width: 420px) {
  .patrocinios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer {
  height: 400px;
  background-color: #1D1D1D;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer1 .f-section {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer1 .f-section .dashes {
  position: relative;
}

footer .footer1 .f-section .dashes span {
  position: absolute;
  bottom: 10px;
  left: 40px;
}

footer .footer1 .f-section-social {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer1 .f-section-social i {
  font-size: 40px;
  margin-right: 30px;
}

footer .footer1 p {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

@media only screen and (max-width: 800px) {
  footer .footer1 {
    width: 100%;
  }
  footer .footer1 .f-section {
    width: 100%;
    margin-bottom: 30px;
    font-size: .8em;
  }
  footer .footer1 .f-section-social {
    width: 100%;
  }
  footer .footer1 .dashes {
    margin-top: 40px;
  }
  footer .footer-2 {
    font-size: .8em;
  }
}

@media only screen and (max-width: 420px) {
  footer .footer1 {
    width: 100%;
    display: block;
  }
  footer .footer1 .f-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer1 .f-section-social {
    width: 100%;
  }
  footer .footer1 .dashes {
    margin-top: 40px;
  }
  footer .footer-2 {
    font-size: .8em;
  }
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */