.contato {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .contato-1 {
        background-color: #f4f4f4;
        width: 50%;
        height: 843px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato-2 {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 0px 80px;

        input {
            border-radius: 15px 0px 0px 15px;
            border-style: 1px solid black;
        }

        .enviar {
            height: 64px;
            width: 173px;
            border-radius: 0px 15px 15px 0px;
            background-color: #1005FF;
            border-style: none;
            color: white;
        }
    }

    div {
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
}

@media only screen and (max-width: 800px) {
    .contato {
        display: block;

        .contato-1 {
            width: 100%;
        }

        .contato-2 {
            height: 100%;
            width: 100%;
            padding: 10px;
        }

        .enviar {
            height: 64px;
            width: 85px;
            border-radius: 0px 15px 15px 0px;
            background-color: #1005FF;
            border-style: none;
            color: white;
        }
    }
}

@media only screen and (max-width: 420px) {
    .contato {
        display: block;

        .contato-2 {
            height: 100%;
            width: 100%;
            padding: 10px;
        }

        .enviar {
            height: 64px;
            width: 85px;
            border-radius: 0px 15px 15px 0px;
            background-color: #1005FF;
            border-style: none;
            color: white;
        }
    }
}