.hero-nav {
    background-image: url("../../assets/imagens/banner_site_nine.png");
    background-size: cover;
    resize: both;
    height: 100vh;

    >.container {
        height: 96%;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
    }

    .dashes {
        position: relative;
    }

    .logo {
        font-size: 1.8em;
    }

    span {
        position: absolute;
        top: 0px;
        left: 110px;
    }
}

@media only screen and (max-width: 1080px) {
    .navbar {
        .container {
            padding-left: 30px;

            .nav-items {
                .nav-list {
                    display: block;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .nav-items {
        font-size: .7em;
    }
}