.patrocinios {
    height: 364px;
    background-color: #F3F7F8;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        height: 120px;
    }
}