.patrocinios {
    height: 364px;
    background-color: #F3F7F8;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .celdoc {
        width: 220px;
        height: 80px;
    }

    img {
        height: 120px;
    }
}

@media only screen and (max-width: 420px) {
    .patrocinios {
        flex-direction: column;
    }
}